body {
  background-color: #ffffff;
  color: #212121;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

/* Header */
.container {
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.page-header {
  position: relative;
  border-bottom: 1px solid #ececec;
}

@media screen and (max-width: 767px) {
  .page-header__container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    padding: 0 15px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .page-header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .page-header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main-nav__studio--dark {
  color: #212121;
  padding-top: 25px;
  padding-bottom: 25px;
}

.logo {
  color: #2196f3;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  padding-top: 25px;
  padding-bottom: 25px;
}
@media screen and (max-width: 767px) {
  .logo {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}
.site-nav__link {
  color: #212121;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav__link-email, .site-nav__link-phone {
  color: #757575;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav__link--current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
}
.site-nav__link--current {
  position: relative;
}
.site-nav__link:focus, .site-nav__link:hover, .site-nav__link--current {
  color: #2196f3;
}
.site-nav__link, .site-nav__link--current {
  display: block;
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
}

.site-nav {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 93px;
}
@media screen and (max-width: 767px) {
  .site-nav {
    display: none;
  }
}

.auth-nav {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 767px) {
  .auth-nav {
    display: none;
  }
}

@media screen and (max-width: 1199px) {
  .auth-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: auto;
  }
  .auth-list__link-email, .auth-list__link-phone {
    padding-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .auth-list {
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
  }
}
.auth-list__link-email:hover, .auth-list__link-phone:hover, .auth-list__link-email:focus, .auth-list__link-phone:focus {
  color: #2196f3;
}
.auth-list__link-email, .auth-list__link-phone {
  display: block;
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
}
.auth-list__link-email, .auth-list__link-phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--title-text-color);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.auth-list__icon {
  fill: currentColor;
  margin-right: 10px;
}
.auth-list__link-email:focus, .auth-list__link-email:hover, .auth-list__link-phone:focus, .auth-list__link-phone:hover {
  fill: #2196f3;
}
@media screen and (min-width: 1200px) {
  .auth-list__item + .auth-list__item {
    margin-left: 50px;
  }
}

/* Main */
.hero {
  background-color: #2f303a;
  text-align: center;
  max-width: 1600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/mobile.jpg");
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/mobile2x.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/mobile2x.jpg");
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/tablet.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/tablet.jpg");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/tablet2x.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/tablet2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/heroimg.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/heroimg.jpg");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/heroimg2x.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/heroimg2x.jpg");
  }
}

@media screen and (max-width: 1199px) {
  .hero__title {
    margin-top: 0;
    margin-bottom: 30px;
    color: #ffffff;
    letter-spacing: 0.06em;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.6;
    text-transform: uppercase;
  }
  .hero__button {
    background-color: #2196f3;
    color: #ffffff;
    letter-spacing: 0.06em;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    cursor: pointer;
    border-radius: 4px;
    padding: 10px 32px;
    min-width: 200px;
    text-align: center;
    border: none;
    -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  }
}
@media screen and (min-width: 1199px) {
  .hero__title {
    margin-top: 0;
    margin-bottom: 30px;
    color: #ffffff;
    letter-spacing: 0.06em;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-transform: uppercase;
  }
  .hero__button {
    background-color: #2196f3;
    color: #ffffff;
    letter-spacing: 0.06em;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    cursor: pointer;
    border-radius: 4px;
    padding: 10px 32px;
    min-width: 200px;
    text-align: center;
    border: none;
    -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  }
}

/* Benefits */
@media screen and (max-width: 1199px) {
  .benefit-section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .benefit-section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.benefit-section__title--hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.benefit-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.benefit-list__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  color: #212121;
}
@media screen and (min-width: 1200px) {
  .benefit-list__item {
    margin-right: 30px;
    width: 270px;
  }
}
@media screen and (max-width: 767px) {
  .benefit-list__item {
    width: 450px;
    margin-right: 15px;
    margin-left: 15px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .benefit-list__item {
    width: 354px;
    margin-right: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .benefit-list__item:last-child {
    margin-right: 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .benefit-list__item:nth-child(2n) {
    margin-right: 0;
  }
}
@media screen and (max-width: 767px) {
  .benefit-list__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .benefit-list__item:nth-child(-n+2) {
    margin-bottom: 30px;
  }
}
.benefit-list__title {
  margin-top: 30px;
  margin-bottom: 10px;
  color: #212121;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
@media screen and (max-width: 767px) {
  .benefit-list__title {
    text-align: center;
  }
}
.benefit-list__description {
  margin-top: 0;
  margin-bottom: 0;
  color: #757575;
  font-size: 14px;
  line-height: 1.71;
}

/* Our works */
.work-section {
  padding-top: 0;
  padding-bottom: 94px;
}
@media screen and (max-width: 1199px) {
  .work-section {
    display: none;
  }
}

.work-section__title {
  margin-top: 0;
  margin-bottom: 50px;
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.work-list__image {
  display: block;
}
.work-list__box {
  position: relative;
}
@media screen and (min-width: 1200px) {
  .work-list__box {
    width: 370px;
  }
}
.work-list__overlay {
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  left: 0;
  background-color: rgba(47, 48, 58, 0.8);
}
.work-list__overlay-text {
  font-size: 14px;
  font-weight: 700;
  padding: 27px 0;
  margin: 0;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}

.work-list {
  padding: 0;
  margin: 0;
  list-style: none;
}
@media screen and (min-width: 1200px) {
  .work-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .work-list__item {
    margin-right: 30px;
    width: 370px;
  }
  .work-list__item:last-child {
    margin-right: 0;
  }
}

/* Our team */
.team-section {
  background-color: #f5f4fa;
}
@media screen and (max-width: 1199px) {
  .team-section {
    padding-bottom: 60px;
    padding-top: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .team-section {
    padding-bottom: 94px;
    padding-top: 94px;
  }
}

.team-section__title {
  margin-top: 0;
  margin-bottom: 50px;
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
@media screen and (max-width: 1199px) {
  .team-section__title {
    margin-bottom: 30px;
  }
}

.team-list {
  padding: 0;
  margin: 0;
  list-style: none;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team-list {
    margin: -15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .team-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (max-width: 767px) {
  .team-list__item:first-child {
    margin-top: 0;
  }
}
@media screen and (max-width: 767px) {
  .team-list__item:last-child {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .team-list__item:nth-child(4n) {
    margin-right: 0;
  }
}
.team-list__item {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 767px) {
  .team-list__item {
    margin: 15px 15px 30px 15px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team-list__item {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .team-list__item {
    margin-right: 30px;
    width: 270px;
  }
}
.team-list .team-card {
  padding: 30px 0;
}

.team-card__title {
  margin-top: 0;
  margin-bottom: 10px;
  color: #212121;
  font-weight: 500;
}
.team-card__position {
  margin: 0;
  margin-bottom: 16px;
  color: #757575;
  font-weight: 400;
}
.team-card__title, .team-card__position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.social-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.social-box__link {
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 10px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-box__link:last-child {
  margin-right: 0;
}
.social-box__icon {
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-box__link:hover, .social-box__:focus {
  background-color: #2196f3;
}
.social-box__link:hover .social-box__icon, .social-box__link:focus .social-box__icon {
  fill: #ffffff;
}

/* Clients */
@media screen and (max-width: 1199px) {
  .clients-section {
    padding-bottom: 60px;
    padding-top: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .clients-section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients-section__title {
  margin-top: 0;
  margin-bottom: 30px;
  color: #212121;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .clients-section__title {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

.clients-card {
  margin: -15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (min-width: 1200px) {
  .clients-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .clients-card__item {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients-card__item {
    width: calc((100% - 6 * 15px) / 3);
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .clients-card__item {
    width: 170px;
    margin-right: 30px;
  }
}
@media screen and (max-width: 767px) {
  .clients-card__link {
    background-color: #ffffff;
    border-radius: 4px;
    border: 1px solid #afb1b8;
    -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    height: 92px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 16px 32px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients-card__link {
    height: 92px;
    background-color: #ffffff;
    border-radius: 4px;
    border: 1px solid #afb1b8;
    -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 16px 32px;
  }
}
@media screen and (min-width: 1200px) {
  .clients-card__link {
    height: 92px;
    background-color: #ffffff;
    border-radius: 4px;
    border: 1px solid #afb1b8;
    -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.clients-card__icon {
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-card__link:hover, .clients-card__link:focus {
  border-color: #2196f3;
}
.clients-card__link:hover .clients-card__icon {
  fill: #2196f3;
}
@media screen and (min-width: 1200px) {
  .clients-card__link:last-child {
    margin-right: 0;
  }
}

/* Footer */
.footer {
  padding: 60px 0;
  background-color: #2f303a;
}
@media screen and (min-width: 1200px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-part {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .footer-part {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .address-part,
.social-part {
    display: block;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
  }
}

@media screen and (max-width: 767px) {
  .address-part {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
    text-align: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .address-part {
    margin-right: auto;
    width: 50%;
    margin-bottom: 60px;
    display: block;
  }
}
.address-part__studio-light {
  text-decoration: none;
  color: #ffffff;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.address-part__address {
  font-style: normal;
  margin-top: 20px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .address-part__address {
    text-align: center;
  }
}

.footer-list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.footer-list__item:not(:last-child) {
  margin-bottom: 9px;
}
.footer-list__address-link {
  color: #ffffff;
}
.footer-list__link {
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-list__address-link, .footer-list__link {
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
.footer-list__link:hover, .footer-list__link:focus {
  color: #2196f3;
}

@media screen and (max-width: 767px) {
  .social-part {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .social-part {
    width: 50%;
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .social-part {
    margin-left: 70px;
    margin-top: 12px;
  }
}

.social-part__name {
  color: #ffffff;
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  margin-bottom: 20px;
  margin-top: 0;
}
@media screen and (max-width: 767px) {
  .social-part__name {
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .footer-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .footer-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
}

.footer-box__link {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 10px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 767px) {
  .footer-box__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (min-width: 768px) {
  .footer-box__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .footer-box__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.footer-box__link:not(:last-child) {
  margin-right: 10px;
}
.footer-box__link:hover, .footer-box__link:focus {
  background-color: #2196f3;
}
.footer-box__icon {
  fill: #ffffff;
}

@media screen and (min-width: 768px) {
  .email-part {
    margin-right: auto;
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .email-part {
    margin-left: auto;
    margin-top: 12px;
  }
}
.email-part__name {
  color: #ffffff;
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  margin-bottom: 20px;
  margin-top: 0;
}
@media screen and (max-width: 1199px) {
  .email-part__name {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .email-part__name {
    padding-left: 15px;
  }
}

.email-box {
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 1200px) {
  .email-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .email-box__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (min-width: 1200px) {
  .email-box__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.email-box__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.email-box__field {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background: transparent;
  height: 50px;
  width: 100%;
  padding: 15px 0 15px 16px;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .email-box__field {
    width: 450px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .email-box__field {
    width: 358px;
    margin-right: 12px;
  }
}
.email-box__button {
  color: #ffffff;
  background-color: #2196f3;
  border: #2196f3;
  letter-spacing: 0.06em;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  padding: 10px 28px 10px 29px;
  min-width: 200px;
  height: 50px;
  position: relative;
  display: block;
}
@media screen and (max-width: 767px) {
  .email-box__button {
    margin-right: auto;
    margin-left: auto;
  }
}
@media screen and (min-width: 768px) {
  .email-box__button {
    margin-right: auto;
    margin-left: auto;
  }
}
.email-box__icon {
  fill: #ffffff;
  vertical-align: middle;
  margin-left: 4px;
}

/* Modal */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 450px;
  min-height: 581px;
  -webkit-transform: translate(-50%, -50%) scale(0.9);
          transform: translate(-50%, -50%) scale(0.9);
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
@media screen and (min-width: 1200px) {
  .modal {
    min-width: 528px;
  }
}
.modal__close-button {
  position: absolute;
  bottom: 93%;
  left: 93%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}
.modal__icon-close {
  fill: #212121;
}
.modal__icon-close:hover, .modal__icon-close:focus {
  fill: #2196f3;
}

.modal-form {
  width: 450px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
}
@media screen and (min-width: 1200px) {
  .modal-form {
    width: 528px;
  }
}

.modal-form__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
}
.modal-form__field {
  position: relative;
  margin-bottom: 10px;
}
.modal-form__field-comment {
  position: relative;
  margin-bottom: 20px;
}
.modal-form__modal-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}
.modal-form__modal-input {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  width: 100%;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__icon-name, .modal-form__icon-phone, .modal-form__icon-email {
  position: absolute;
  top: 32px;
  left: 15px;
  width: 18px;
  height: 18px;
  margin-right: 12px;
  fill: #212121;
}
.modal-form__modal-input:focus-within {
  border-color: #2196f3;
  outline: none;
}
.modal-form__field:focus-within .modal-form__icon-name, .modal-form__field:focus-within .modal-form__icon-phone, .modal-form__field:focus-within .modal-form__icon-email {
  fill: #2196f3;
}
.modal-form__comment {
  font-size: 12px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  height: 138px;
  resize: none;
}
.modal-form__comment:focus {
  border-color: #2196f3;
  outline: none;
}
.modal-form__field-policy {
  display: block;
  margin: 0 auto;
}
.modal-form__label-policy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.modal-form__icon-check {
  display: inline-block;
  vertical-align: middle;
  border: 2px solid #212121;
  border-radius: 2px;
  fill: #ffffff;
  margin-right: 7px;
  margin-top: 4px;
}
.modal-form__checkbox--hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.modal-form__checkbox--hidden:checked + .modal-form__icon-check {
  fill: #2196f3;
  border: #2196f3;
}
.modal-form__policy-text {
  font-size: 12px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  margin-right: 5px;
}
@media screen and (min-width: 1200px) {
  .modal-form__policy-text {
    font-size: 14px;
  }
}
.modal-form__policy-link {
  font-size: 12px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #2196f3;
  font-family: inherit;
}
@media screen and (min-width: 1200px) {
  .modal-form__policy-link {
    font-size: 14px;
  }
}
.modal-form__submit-button {
  color: #ffffff;
  background-color: #2196f3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  font-family: inherit;
  cursor: pointer;
  border-radius: 4px;
  padding: 10px 55px;
  text-align: center;
  border: none;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
}
.modal-form__submit-button:hover, .modal-form__submit-button:focus {
  background-color: #188ce8;
}

/* Portfolio */
/* hero-portfolio */
@media screen and (max-width: 767px) {
  .container {
    padding: 0 15px;
    margin: 0 auto;
  }
}

.hero-portfolio {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .hero-portfolio {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.hero-portfolio__title--hidden {
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

@media screen and (max-width: 767px) {
  .portfolio-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 50px;
  }
}
.portfolio-nav__item:not(:last-child) {
  margin-right: 8px;
}
.portfolio-nav__button, .portfolio-nav__button--current {
  background-color: #f5f4fa;
  color: #212121;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  cursor: pointer;
  border-radius: 4px;
  padding: 6px 22px;
  min-width: 73px;
  text-align: center;
  border: none;
  -webkit-transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-nav__button:hover, .portfolio-nav__button:focus, .portfolio-nav__button--current {
  background: #2196f3;
  color: #ffffff;
  -webkit-box-shadow: 0px 3px 1px var(--button-first-color), 0px 1px 2px var(--button-second-color), 0px 2px 2px var(--button-third-color);
          box-shadow: 0px 3px 1px var(--button-first-color), 0px 1px 2px var(--button-second-color), 0px 2px 2px var(--button-third-color);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.portfolio-list__link {
  display: block;
  border: 1px solid var(--card-border-color);
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list__link:hover {
  -webkit-box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0 4px 4px rgba(0, 0, 0, 0.06), 0 1px 1px rgba(0, 0, 0, 0.12);
          box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0 4px 4px rgba(0, 0, 0, 0.06), 0 1px 1px rgba(0, 0, 0, 0.12);
}
.portfolio-list__item {
  margin-top: 0;
  margin-bottom: 30px;
  cursor: pointer;
  border: 1px solid #eeeeee;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio-list__item {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-list__item {
    margin-top: 0;
    margin-bottom: 30px;
    margin-right: 30px;
    width: 370px;
  }
}
@media screen and (min-width: 1199px) {
  .portfolio-list__item:nth-child(3n) {
    margin-right: 0;
  }
}
.portfolio-list__item:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.portfolio-thumb {
  position: relative;
  overflow: hidden;
}
@media screen and (min-width: 1200px) {
  .portfolio-thumb {
    width: 370px;
  }
}

.portfolio-list__image-overlay {
  position: absolute;
  width: 100%;
  height: 294px;
  bottom: 0;
  left: 0;
  background-color: #2196f3;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list__text-overlay {
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding: 63px 24px;
}
.portfolio-list__link:hover .portfolio-list__image-overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.portfolio-box {
  padding: 20px 24px;
}
.portfolio-box__item-title {
  font-size: 18px;
  font-weight: 700;
  color: #212121;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}
.portfolio-box__item-type {
  font-size: 16px;
  font-weight: 400;
  color: #757575;
  letter-spacing: 0.03em;
}

.menu-toggle {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
  border-radius: 50%;
  outline: none;
  position: absolute;
  top: 22px;
  right: 23px;
  z-index: 999;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-toggle:hover, .menu-toggle:focus {
  fill: #2196f3;
}
@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .menu-container {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 48px 40px;
    font-size: 40px;
    background-color: #ffffff;
    z-index: 999;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
@media screen and (max-width: 767px) {
  .menu-container.is-open {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@media screen and (min-width: 768px) {
  .menu-container {
    display: none;
  }
}

.menu-container .menu-toggle {
  position: absolute;
  top: 10px;
  right: 15px;
  color: #212121;
}
.menu-container .menu-toggle.menu-toggle:hover, .menu-container .menu-toggle.menu-toggle:focus {
  fill: #2196f3;
}

.menu-toggle__icon-mobile-close {
  display: none;
}
.menu-toggle.is-open .menu-toggle__icon-mobile-close {
  display: block;
}
.menu-toggle.is-open .menu-toggle__icon-menu {
  display: none;
}

.mobile-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu {
  margin-left: 40px;
  margin-top: 48px;
}
.mobile-menu.item:not(:last-child) {
  margin-bottom: 32px;
}
.mobile-menu.item {
  font-family: inherit;
  font-size: 40px;
  line-height: 1 1.17;
  letter-spacing: 0.02em;
  font-weight: 500;
  color: #212121;
  text-decoration: none;
}
.mobile-menu.item:hover, .mobile-menu.item:focus {
  color: #2196f3;
}

.mobile-list {
  font-family: inherit;
  color: #757575;
  line-height: 1.17;
  font-weight: 500;
}
.mobile-list__link-phone {
  font-size: 34px;
}
.mobile-list__link-email {
  font-size: 24px;
}
.mobile-list__item:hover, .mobile-list__item:focus {
  color: #2196f3;
}

.mobile-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.mobile-social__link {
  font-family: inherit;
  font-size: 18px;
  color: #2196f3;
  line-height: 1.22;
  font-weight: 500;
  text-decoration: none;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}/*# sourceMappingURL=main.css.map */