body {
  background-color: #ffffff;
  color: #212121;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Header */
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 480px) {
    width: 480px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}
