/* Benefits */
 .benefit-section {
  @media screen and(max-width: 1199px) {
   padding-top: 60px;
   padding-bottom: 60px; }

  @media screen and(min-width: 1200px) {
   padding-top: 94px;
   padding-bottom: 94px;
 }
}
.benefit-section {
  &__title--hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    // margin-top: 0;
    // margin-bottom: 50px;
    color: $primary-text-color;
    font-weight: $text-weight-third;
    font-size: $text-size-seventh;
    line-height: $line-height-second;
    text-align: center;
  }
}
.benefit-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;

  &__icon {    
    display: flex;
    justify-content: center;
    align-items: center;
    // width: 270px;
    height: 120px;
    background-color: $background-third-color;
    border-radius: $border-radius-second;
    color: $primary-text-color;    
  }
  &__item {
  @media screen and(min-width: 1200px) {
    margin-right: 30px;
    width: 270px;
   }
  @media screen and(max-width: 767px) {
    width: 450px;
    margin-right: 15px;
    margin-left: 15px;     
   }   
  @media screen and(min-width: 768px) and(max-width: 1199px) {
    width: 354px;
    margin-right: 30px;     
    }
  }
  &__item:last-child {
    @media screen and(min-width: 1200px) {
    margin-right: 0;
  }
}
  &__item:nth-child(2n) {
    @media screen and(min-width: 768px) and(max-width: 1199px) {
        margin-right: 0;
  }
}
&__item:not(:last-child) {
     @media screen and(max-width: 767px) {
       margin-bottom: 30px;
    }   
  }
  &__item:nth-child(-n + 2) {
    @media screen and(min-width: 768px) and(max-width: 1199px) {
        margin-bottom: 30px;
  }
}
  &__title {
    margin-top: 30px;
    margin-bottom: 10px;
    color: $primary-text-color;
    font-weight: $text-weight-third;
    font-size: $text-size-second;
    line-height: $line-height-first;
    text-transform: uppercase;

    @media screen and(max-width: 767px) {
      text-align: center;
    }
  }
  &__description {
    margin-top: 0;
    margin-bottom: 0;
    color: $title-text-color;
    font-size: $text-size-second;
    line-height: $line-height-eighth;
  }
}
