.menu-toggle {
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 0;
  padding: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
  border-radius: 50%;
  outline: none;
  position: absolute;
  top: 22px;
  right: 23px;
  z-index: 999;
  transition: all 250ms $cubic-bezier-color;
    
  &:hover,
  &:focus {
    fill: $accent-color;
  }

  @media screen and(min-width: 768px) {
    display: none;
  }
}

.menu-container {
  @media screen and(max-width: 767px) {
     position: absolute;
     display: flex;
     flex-wrap: wrap;
     top: 0;
     left: 0;
     width: 100%;
     padding: 48px 40px;
     background-color: $primary-white-color;
     z-index: 999;
     transform: translateX(100%);
     transition: transform 250ms $cubic-bezier-color;
    }
    &.is-open {
       @media screen and(max-width: 767px) {
       transform: translateX(0);
      }
    }
  @media screen and(min-width: 768px) {
     display: none;
    }
  }
  
.menu-container .menu-toggle {
  position: absolute;
  top: 21px;
  right: 25px;
  color: $primary-text-color;
  &.menu-toggle:hover,
  &.menu-toggle:focus {
    fill: $accent-color;
  }
 }

.menu-toggle {
 &.is-open &__icon-mobile-close {
   display: block;
 } 
 &.is-open &__icon-menu {
   display: none;
 }
}

.mobile-menu {
  &__link {
    color: $primary-text-color;
    transition: color 250ms $cubic-bezier-color;
  }
  @media screen and(min-width: 768px) {
    display: none;
  }

  @media screen and(max-width: 767px) {
  margin-bottom: 302px;

  &__item:not(:last-child) {
  margin-bottom: 32px;
  }  
  &__link:focus,
  &__link:hover {
    color: $accent-color;
  }
  &__link {
    display: block;
    font-family: inherit;
    letter-spacing: $letter-spacing-second;
    font-weight: $text-weight-second;
    font-size: 40px;
    line-height: $line-height-second;
    text-decoration: none;    
  }  
}
}

.mobile-list {
  margin-bottom: 64px;

  &__item:not(:last-child) {
  margin-bottom: 32px;
  }
  &__link-email,
  &__link-phone {
    font-family: inherit;
    color: $title-text-color;
    display: block;
    letter-spacing: $letter-spacing-second;
    font-weight: $text-weight-second;
    font-size: $text-size-second;
    line-height: $line-height-second;
    text-decoration: none;
  }
  &__link-phone {
    font-size: 34px;    
  }
   &__link-email {
    font-size: 24px;
  }
  &__link-email:hover,
  &__link-phone:hover,
  &__link-email:focus,
  &__link-phone:focus {
    color: $accent-color;
  }
}

.mobile-social {
  display: flex;
  justify-content: center;
  align-items: center;
  
  &__link {
  font-family: inherit;
  font-size: $text-size-fourth;
  color: $accent-color;
  line-height: 1.22;
  font-weight: $text-weight-second;
  text-decoration: none;   
  }
  &__item {
  padding: 0 10px;   
  }
  &__item:not(:last-child) {
  border-right: 1px solid $modal-form-border-color;
  }
  &__item:first-child {
  padding-left: 0;
  }
  &__item:last-child {
  padding-right: 0;
  }
}