/* Modal */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: $border-radius-second;
  background-color: $modal-bg-color;
  opacity: 1;
  transition: transform 250ms $cubic-bezier-color,
    opacity 250ms $cubic-bezier-color;
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 528px;
  min-height: 581px;
  transform: translate(-50%, -50%) scale(0.9);
  background-color: $primary-white-color;
  box-shadow: 0px 1px 3px $modal-box-shadow-first-color,
    0px 1px 1px $modal-box-shadow-second-color, 0px 2px 1px $modal-bg-color;
  border-radius: 4px;
  &__close-button {
    position: absolute;
    bottom: 93%;
    left: 93%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: $primary-white-color;
    border: 1px solid $modal-btn-border-color;
    border-radius: 50%;
    cursor: pointer;
  }
  &__icon-close {
    fill: $primary-text-color;
  }
  &__icon-close:hover,
  &__icon-close:focus {
    fill: $accent-color;
  }
}
// .modal-form {
//   width: 528px;
//   margin-left: auto;
//   margin-right: auto;
//   padding: 40px;
// }
.modal-form {
  &__title {
    font-weight: $text-weight-third;
    font-size: $text-size-fifth;
    line-height: $line-height-second;
    letter-spacing: $letter-spacing-third;
    text-align: center;
  }
  &__field {
    position: relative;
    // margin-bottom: 10px;
  }
  &__field-comment {
    position: relative;
    // margin-bottom: 20px;
  }
  &__modal-label {
    font-size: $text-size-first;
    line-height: $line-height-second;
    letter-spacing: $letter-spacing-first;
    color: $title-text-color;
  }
  &__modal-input {
    font-size: $text-size-second;
    line-height: $line-height-first;
    letter-spacing: $letter-spacing-first;
    // width: 100%;
    // padding-top: 14px;
    // padding-bottom: 14px;
    // padding-left: 42px;
    border: 1px solid $modal-form-border-color;
    border-radius: 4px;
    transition: border-color 250ms $cubic-bezier-color;
  }
  &__icon-name,
  &__icon-phone,
  &__icon-email {
    position: absolute;
    top: 32px;
    left: 15px;
    width: 18px;
    height: 18px;
    margin-right: 12px;
    fill: $primary-text-color;
  }
  &__modal-input:focus-within {
    border-color: $accent-color;
    outline: none;
  }
  &__field:focus-within &__icon-name,
  &__field:focus-within &__icon-phone,
  &__field:focus-within &__icon-email {
    fill: $accent-color;
  }
  &__comment {
    font-size: $text-size-first;
    padding: 12px 16px;
    border: 1px solid $modal-form-border-color;
    border-radius: $border-radius-second;
    // width: 100%;
    // height: 138px;
    resize: none;
  }
  &__comment:focus {
    border-color: $accent-color;
    outline: none;
  }
  &__field-policy {
    display: block;
    margin: 0 auto;
  }
  // &__label-policy {
  //   display: flex;
  //   justify-content: center;
  // }
  &__icon-check {
    display: inline-block;
    vertical-align: middle;
    border: 2px solid $primary-text-color;
    border-radius: $border-radius-first;
    fill: $primary-white-color;
    margin-right: 7px;
    margin-top: 4px;
  }
  &__checkbox--hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
  }
  &__checkbox--hidden:checked + &__icon-check {
    fill: $accent-color;
    border: $accent-color;
  }
  &__policy-text {
    font-size: $text-size-second;
    line-height: $line-height-eighth;
    letter-spacing: $letter-spacing-third;
    color: $title-text-color;
    margin-right: 5px;
  }
  &__policy-link {
    font-size: $text-size-second;
    line-height: $line-height-eighth;
    letter-spacing: $letter-spacing-third;
    color: $accent-color;
    font-family: inherit;
  }
  &__submit-button {
    color: $primary-white-color;
    background-color: $accent-color;
    font-weight: $text-weight-third;
    font-size: $text-size-third;
    line-height: $line-height-ninth;
    letter-spacing: $letter-spacing-fourth;
    font-family: inherit;
    cursor: pointer;
    border-radius: $border-radius-second;
    // padding: 10px 55px;
    // min-width: 200px;
    text-align: center;
    border: none;
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    box-shadow: 0 4px 4px $hero-modal-btn-box-shadow-color;
  }
  &__submit-button:hover,
  &__submit-button:focus {
    background-color: $modal-submit-btn-hover-color;
  }
}
