.main-nav {
  display: flex;
  align-items: center;

  &__studio--dark {
    color: $primary-text-color;
    padding-top: 25px;
    padding-bottom: 25px;
  }
}
.logo {
  color: $accent-color;
  font-family: $font-second;
  font-weight: $text-weight-third;
  font-size: $text-size-sixth;
  line-height: $line-height-third;
  text-decoration: none;
  padding-top: 25px;
  padding-bottom: 25px;

  @media screen and(max-width: 767px) {
  padding-top: 16px;
  padding-bottom: 16px;
  }
}
.site-nav {
  &__item:not(:last-child) {
    margin-right: 50px;
  }
  &__link {
    color: $primary-text-color;
    transition: color 250ms $cubic-bezier-color;
  }
  &__link-email,
  &__link-phone {
    color: $title-text-color;
    transition: color 250ms $cubic-bezier-color;
  }
  &__link--current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: $border-radius-first;
    background-color: $accent-color;
  }
  &__link--current {
    position: relative;
  }
  &__link:focus,
  &__link:hover,
  &__link--current {
    color: $accent-color;
  }
  &__link,
  &__link--current {
    display: block;
    letter-spacing: $letter-spacing-second;
    font-weight: $text-weight-second;
    font-size: $text-size-second;
    line-height: $line-height-first;
    text-decoration: none;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
.site-nav {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  margin-left: 93px;

  @media screen and(max-width: 767px) {
    display: none;
  }
}
.auth-nav {
  margin-left: auto;
  display: flex;
  align-items: center;  

  @media screen and(max-width: 767px) {
    display: none;
  }
}
.auth-list {
  @media screen and(max-width: 1199px) {
    flex-wrap: wrap;
    margin-left: auto;

  &__link-email,
  &__link-phone {
    padding-bottom: 10px;
  }
  }

  @media screen and(min-width: 1200px) {
  padding: 0;
  margin: 0;
  display: flex;
  list-style: none;  
  }

  &__link-email:hover,
  &__link-phone:hover,
  &__link-email:focus,
  &__link-phone:focus {
    color: $accent-color;
  }
  &__link-email,
  &__link-phone {
    display: block;
    letter-spacing: $letter-spacing-second;
    font-weight: $text-weight-second;
    font-size: $text-size-second;
    line-height: $line-height-first;
    text-decoration: none;
    // padding-top: 32px;
    // padding-bottom: 32px;
  }
  &__link-email,
  &__link-phone {
    display: flex;
    align-items: center;
    color: var(--title-text-color);
    transition: fill 250ms $cubic-bezier-color;
  }
    &__icon {
    fill: currentColor;
    margin-right: 10px;
  }
  &__link-email:focus,
  &__link-email:hover,
  &__link-phone:focus,
  &__link-phone:hover {
    fill: $accent-color;
  }
  @media screen and(min-width: 1200px) {
  &__item + &__item {
    margin-left: 50px;
  }
}
}
