.page-header {
  position: relative;
  border-bottom: 1px solid $page-header-border-color;  
}
.page-header__container {
  @media screen and(max-width: 767px) {
    justify-content: space-between;
    align-items: baseline;   
    padding: 0 15px;
    margin: 0 auto;
  }

  @media screen and(min-width: 768px) and(max-width: 1199px) {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    // padding: 24px 0;
  }

  @media screen and(min-width: 1200px) {
    display: flex;
  }
}
