/* Portfolio */
/* hero-portfolio */
.container {
  @media screen and(max-width: 767px) {
    padding: 0 15px;
    margin: 0 auto;
  }
}
.hero-portfolio {
    padding-top: 60px;
    padding-bottom: 60px;

  @media screen and(min-width: 768px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  @media screen and(min-width: 1200px) {
   padding-top: 94px;
   padding-bottom: 94px;
}
  &__title--hidden {
    // margin-top: 0;
    // margin-bottom: 50px;
    color: $primary-text-color;
    font-weight: $text-weight-third;
    font-size: $text-size-seventh;
    line-height: $line-height-second;
    text-align: center;
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
  }
}
 .portfolio-nav {
   @media screen and(max-width: 767px) {
   display: flex;
   flex-wrap: wrap;   
   margin-bottom: 40px;
   }
   @media screen and(min-width: 768px) and(max-width: 1199px) {
   display: flex;
   justify-content: center;
   margin-bottom: 30px;
   }
   @media screen and(min-width: 1200px) {
   display: flex;
   justify-content: center;
   margin-bottom: 50px;
   }
 &__item:not(:last-child) {
   margin-right: 8px;
 }
  &__button,
  &__button--current {
    background-color: $background-third-color;
    color: $primary-text-color;
    font-family: inherit;
    font-weight: $text-weight-second;
    font-size: $text-size-third;
    line-height: $line-height-seventh;
    cursor: pointer;
    border-radius: $border-radius-second;
    padding: 6px 22px;
    min-width: 73px;
    text-align: center;
    border: none;
    transition: background 250ms $cubic-bezier-color;
    transition: color 250ms $cubic-bezier-color;
  }
  &__button:hover,
  &__button:focus,
  &__button--current {
    background: $accent-color;
    color: $primary-white-color;
    box-shadow: 0px 3px 1px var(--button-first-color),
      0px 1px 2px var(--button-second-color),
      0px 2px 2px var(--button-third-color);
  }
}
 .portfolio-list {
   @media screen and(min-width: 768px) and(max-width: 1199px){
     display: flex;
     flex-wrap: wrap;
     margin: -15px;
   }
   @media screen and(min-width: 1200px) {
   display: flex;
   flex-wrap: wrap;
   }
   &__link {
    display: block;
    border: 1px solid var(--card-border-color);
    transition: box-shadow 250ms $cubic-bezier-color;
  }
  &__link:hover {
    box-shadow: 1px 4px 6px $portfolio-list-box-shadow-fisrt-color,
      0 4px 4px $portfolio-list-box-shadow-second-color,
      0 1px 1px $portfolio-list-box-shadow-third-color;
  }    
&__item {   
   margin-top: 0;
   margin-bottom: 30px;  
   cursor: pointer;
   border: 1px solid $card-border-color;

 @media screen and(min-width: 768px) and(max-width: 1199px){
  width: calc((100% - 4 * 15px) / 2);
  margin: 15px;
  display: flex;
  flex-direction: column;;
}

  @media screen and(min-width: 1200px) {
   margin-top: 0;
   margin-bottom: 30px;
   margin-right: 30px;
   width: 370px; 
  }
 }

 &__item:nth-child(3n) {
   @media screen and(min-width: 1199px){
   margin-right: 0;
 }
}
 &__item:nth-last-child(-n + 3) {
   margin-bottom: 0;
 }
}

.portfolio-thumb {
  position: relative;
  
  overflow: hidden;

  @media screen and(min-width: 1200px) {
   width: 370px; 
  }
}
.portfolio-list {
  &__image-overlay {
    position: absolute;
    width: 100%;
    height: 294px;
    bottom: 0;
    left: 0;
    background-color: $accent-color;
    transform: translateY(100%);
    transition: transform 250ms $cubic-bezier-color;
  }
  &__text-overlay {
    font-size: $text-size-fourth;
    line-height: $line-height-sixth;
    letter-spacing: $letter-spacing-third;
    color: $primary-white-color;
    padding: 63px 24px;
  }
  &__link:hover &__image-overlay {
    transform: translateY(0);
  }
}
 .portfolio-box {
   padding: 20px 24px;

  &__item-title {
    font-size: $text-size-fourth;
    font-weight: $text-weight-third;
    color: $primary-text-color;
    letter-spacing: $letter-spacing-fourth;
    margin-bottom: 4px;
  }
  &__item-type {
    font-size: $text-size-third;
    font-weight: $text-weight-first;
    color: $title-text-color;
    letter-spacing: $letter-spacing-third;
  }
}
