/* Our works */
.work-section {
   padding-top: 0;
   padding-bottom: 94px;
 
  @media screen and(max-width: 1199px) {
  display: none;
}

  &__title {
    margin-top: 0;
    margin-bottom: 50px;
    color: $primary-text-color;
    font-weight: $text-weight-third;
    font-size: $text-size-seventh;
    line-height: $line-height-second;
    text-align: center;
  }
}
.work-list {
  padding: 0;
  margin: 0;
  list-style: none;

  &__image {
    display: block;
  }
  &__box {
    position: relative;
    
    @media screen and(min-width: 1200px) {
    width: 370px;
  }
  }
  &__overlay {
    position: absolute;
    width: 100%;
    height: 70px;
    bottom: 0;
    left: 0;
    background-color: $work-list-overlay-bg-color;
  }
  &__overlay-text {
    font-size: $text-size-second;
    font-weight: $text-weight-third;
    padding: 27px 0;
    margin: 0;
    line-height: $line-height-first;
    text-transform: uppercase;
    text-align: center;
    color: $primary-white-color;
  }

  @media screen and(min-width: 1200px) {
   display: flex;
   flex-wrap: wrap;

 &__item {
   margin-right: 30px;
   width: 370px;
 }
 &__item:last-child {
   margin-right: 0;
 }
}
}