$primary-text-color: #212121;
$title-text-color: #757575;
$accent-color: #2196f3;
$primary-white-color: #ffffff;
$footer-second-color: rgba(255, 255, 255, 0.6);
$background-second-color: #2f303a;
$background-third-color: #f5f4fa;
$card-border-color: #eeeeee;
$team-first-color: rgba(0, 0, 0, 0.12);
$team-second-color: rgba(0, 0, 0, 0.14);
$team-third-color: rgba(0, 0, 0, 0.2);
$page-header-border-color: #ececec;
$button-first-color: rgba(0, 0, 0, 0.1);
$button-second-color: rgba(0, 0, 0, 0.08);
$button-third-color: rgba(0, 0, 0, 0.12);
$icon-color: #afb1b8;
$hero-bg-image-color: rgba(47, 48, 58, 0.4);
$hero-modal-btn-box-shadow-color: rgba(0, 0, 0, 0.15);
$work-list-overlay-bg-color: rgba(47, 48, 58, 0.8);
$cubic-bezier-color: cubic-bezier(0.4, 0, 0.2, 1);
$footer-box-link-bg-color: rgba(255, 255, 255, 0.1);
$footer-email-box-border-color: rgba(255, 255, 255, 0.3);
$portfolio-list-box-shadow-fisrt-color: rgba(0, 0, 0, 0.16);
$portfolio-list-box-shadow-second-color: rgba(0, 0, 0, 0.06);
$portfolio-list-box-shadow-third-color: rgba(0, 0, 0, 0.12);
$modal-bg-color: rgba(0, 0, 0, 0.2);
$modal-box-shadow-first-color: rgba(0, 0, 0, 0.12);
$modal-box-shadow-second-color: rgba(0, 0, 0, 0.14);
$modal-btn-border-color: rgba(0, 0, 0, 0.1);
$modal-form-border-color: rgba(33, 33, 33, 0.2);
$modal-submit-btn-hover-color: #188ce8;

$text-weight-first: 400;
$text-weight-second: 500;
$text-weight-third: 700;
$text-weight-fourth: 900;

$text-size-first: 12px;
$text-size-second: 14px;
$text-size-third: 16px;
$text-size-fourth: 18px;
$text-size-fifth: 20px;
$text-size-sixth: 26px;
$text-size-seventh: 36px;
$text-size-eighth: 44px;

$border-radius-first: 2px;
$border-radius-second: 4px;

$font-main: Roboto, sans-serif;
$font-second: Raleway, sans-serif;

$letter-spacing-first: 0.01em;
$letter-spacing-second: 0.02em;
$letter-spacing-third: 0.03em;
$letter-spacing-fourth: 0.06em;

$line-height-first: 1.14;
$line-height-second: 1.17;
$line-height-third: 1.19;
$line-height-fourth: 1.25;
$line-height-fifth: 1.36;
$line-height-sixth: 1.6;
$line-height-seventh: 1.63;
$line-height-eighth: 1.71;
$line-height-ninth: 1.88;

$mobile: 480px;
$tablet: 768px;
$desktop: 1200px;